.App {
  text-align: center;
  margin-top: 100px;
  font-family: 'comic Sans MS ', cursive, sans-serif;
}

h1{
  font-size: 24px;
  color:#ff69b4;
}

button {
  padding: 12px 24px;
  background-color: #ffd1dc;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #ffb6c1;
}

.watermark{
  position: fixed;  /* it will stick this in the corner */
  bottom: 10px;
  right:10px;
  font-size: 1.2em;
  color: rgba(10, 10, 10, 0.5); /* semi-transparent lowkey white*/
  z-index: 9999; /* this will make sure it stays on the top */
  font-family: Arial, sans-serif;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
